body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Cor de fundo semelhante a café com leite */
}

h1 {
  text-align: center;
  color: #4d2800; /* Marrom escuro para o título */
}

nav {
  background-color: #a07000; /* Marrom dourado para a barra de navegação */
  color: #fff; /* Texto branco para a barra de navegação */
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff; /* Links brancos na barra de navegação */
  text-decoration: none;
  padding: 5px 10px;
}

#search-container {
  text-align: center;
  margin-bottom: 20px;
}

#search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#video-container,
#video-container1,
#video-container2,
#video-container3,
#video-container4 {
  margin-bottom: 20px;
}

iframe {
  border: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Botão Pesquisar */
button {
  background-color: #a07000; /* Marrom dourado para o botão */
  color: #fff; /* Texto branco para o botão */
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #874c00; /* Marrom mais escuro ao passar o mouse sobre o botão */
}
